---

---

<section class="w-full max-w-[1200px] mx-auto p-6">

  <!-- Tarjeta con imagen de fondo -->
  <div class="bg-gradient-to-r from-black to-gray-800 text-white rounded-lg overflow-hidden shadow-lg p-8 mb-10">
    <div class="relative">
      <div class="bg-cover bg-center h-48 sm:h-64 w-full" style="background-image: url('https://res.cloudinary.com/dam6rni9a/image/upload/v1731965641/ANTISAT-Logo-outlineWhite_mhwlmu.svg')">
        <!-- Contenido sobre la imagen -->
        <div class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center">
          <h1 class="text-4xl sm:text-5xl font-bold">QUE ES GITCOIN</h1>
        </div>
      </div>
    </div>
    <!-- Descripción -->
    <div class="mt-6">
      <h2 class="text-2xl font-bold mb-2">¿Qué es Gitcoin?</h2>
      <p class="text-base sm:text-lg text-gray-300">
        Gitcoin es una criptoplataforma lanzada en noviembre de 2017 para fomentar la colaboración en proyectos de software de código abierto.
      </p>
    </div>
  </div>

</section>
