---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Com-Foo/Footer.astro';
import PreFooter from '../../components/Com-Foo/PreFooter.astro';
import Team from '../../components/Team/team.astro';

---
<Layout title="Login" description="Descubre la tecnologia web3 de la mano de los expertos y forjemos una adopción masiva dentro de Latinoamérica y el mundo"  >
<main>
    <br>
    <br>
    <br>
    <br>  
<h1>Equipo Criptec</h1>
<Team>
   
</Team>

<h1>Equipo Lic</h1>
<Team>
    
</Team>
<h1>Equipo Fortis</h1>
<Team>
    
</Team>
<PreFooter></PreFooter>

</main>

<Footer/>
</Layout>