---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Com-Foo/Footer.astro';
import PreFooter from '../../components/Com-Foo/PreFooter.astro';
import CurBasi from '../../components/Curso/Cur_basi.astro';
import CurInter from '../../components/Curso/Cur_inter.astro';
---
<Layout title="Criptomonedas y Cursos web3" description="Descubre la tecnologia web3 de la mano de los expertos y forjemos una adopción masiva dentro de Latinoamérica y el mundo"  >
<main>
<CurBasi/>
<CurInter/>
<PreFooter/>

</main>

<Footer/>
</Layout>